/*
@font-face {
    font-family: 'TTLakes';
    src: local("TTLakes-Regular"), url("/fonts/TTLakes/TTLakes-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: local("TTLakes-Medium"), url("/fonts/TTLakes/TTLakes-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: local("TTLakes-Bold"), url("/fonts/TTLakes/TTLakes-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

 */

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-BlackItalic.eot');
    src: local('TT Lakes Black Italic'), local('TTLakes-BlackItalic'),
    url('../fonts/TTLakes/TTLakes-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes/TTLakes-BlackItalic.woff') format('woff'),
    url('../fonts/TTLakes/TTLakes-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'TTLakes';
}

.body {
    font-family: 'TTLakes';
    background: #F8F8F8;
}

.button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: #FF3E79;
}

.divider {
    display: inline-block;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
}

.logo {
    padding-left: 20px;
}
@media (max-width: 767px) {
    body {
        background: #F8F8F8
    }
}

h1 {
    font-family: TTLakes, sans-serif;
    padding-left: 10px;
}

.highlight {
    display: flex;
}

.header__info {
    display: none;
}

.container__content {
    background-color: #F8F8F8;
    padding-top: 24px;
}

.content__header {
    display: flex;
    justify-content: space-between;
}

.header__title {
    position: relative;
    padding-left: 16px;
    margin: 0; }

.header__title::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 40px;
    background: #41f6d7;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; }

.content__navigation {
    display: flex;
    overflow-x: scroll;
    margin-top: 24px;
    padding-left: 16px; }

.content__navigation::-webkit-scrollbar {
    display: none; }

.navigation__link {
    display: block;

    text-decoration: none;
    white-space: nowrap;
    padding: 8px 9px;

    border-radius: 6px;
    margin-right: 6px;
}

.navigation__link:hover {
    border: 2px solid #41f6d7;
    background-color: white;

}

.link__text {
    color: #7E7E82;
}

.content__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.menu {
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 24px;
}

@media (min-width: 1120px) {
    .menu {
        display: none;
    }
    .info__button {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: none;
        background-color: #FF3E79;
        margin-right: 30px;
        margin-left: 8px;
    }
    .header__info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    body {
        background: #F8F8F8
    }
    .header__info ~ span {
        font-weight: bold;
    }
    .wrapper__text-first, .wrapper__text-second {
        width: 490px;
        margin-left: 34px;
    }
    .wrapper__image {
        width: 500px;
        height: 300px;
        margin-right: 28px;
        margin-left: 36px;
    }
    body {
        margin: auto;
        max-width: 1120px;
    }
}

.menu__burger {
    display: flex;
    padding: 0 20px 0 24px;
    align-items: center;
}
@media (max-width: 767px) {
    .menu__burger {
        padding: 0 16px 0 16px;
    }
}
.menu-burger-divider-container {
    display: flex;
}
@media (max-width: 767px) {
    .menu-burger-divider-container {
        display: none;
    }
}

.menu__service-button-group {
    display: flex;
    flex-direction: row;
}
.menu__social-button-group {
    display: flex;
    flex-direction: row;
}
@media (max-width: 767px) {
    .menu__social-button-group {
        display: none;
    }
}
.menu__logo-group {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.menu__divider-container {
    margin: 0 20px
}
.social-button-group__item {
    margin-right: 16px;
}
.social-button-group__item:last-child {
    margin-right: 0;
}

.service-button-group__item {
    margin-right: 16px;
}
.service-button-group__item:last-child {
    margin-right: 0;
}

.continue {
    display: none;
}

.continue__logo {
    margin-left: 16px;
    margin-right: 16px;
}

.continue ~ .continue__text:before {
    content: 'Читать далее';
    font-weight: 500;

}

.continue:checked ~ .continue__text:before {
    content: 'Скрыть';
}

.continue:checked ~ .continue__logo {
    transform: rotate(180deg);
}

.continue:checked ~ .wrapper__text-second {
    display: flex;
}

.wrapper__text-first {
    display: flex;
    margin-left: 16px;
}
.wrapper__text-second {
    display: none;
    margin-left: 16px;
}

@media (min-width: 767px) and (max-width: 1119px) {
    .wrapper__text-first, .wrapper__text-second {
        width: 312px;
        margin-left: 24px;
    }
    body {
        background: #F8F8F8
    }
    header {
        background: #fff;
    }
}

.wrapper__image {
    height: 240px;
    width: 360px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .wrapper__image {
        height: 220px;
        width: 320px;
    }
    header {
        background: #fff;
    }
}

